.orderParent {
  padding: 5px !important;
}
.AddItemesToOrders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -2px -2px 5px 2px #a6d3ae;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 50px;

  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #f2f2f23a;
  border-radius: 30px;
  background-color: #cad8cd;
}
.AddItemesToOrders label {
  color: crimson;
}
.AddItemesToOrders span {
  padding: 30px;
  font-size: 22px;
}
.Btn-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 25px;
}
.Btn-order .InputofQuantity {
  display: flex;
}
.Btn-order .InputofQuantity label {
  color: #1ac239;
  font-weight: 900;
  font-style: italic;
  font-size: 20px;
}
.orderitem {
  padding: 5px 2px;
  border-radius: 30px;
  text-align: center;
  border: 2px solid transparent;
  background-color: #1ac239;
  color: #ffffff;
  margin-left: 60px;
}
.orderitem1 {
  padding: 5px 2px;
  border-radius: 30px;
  width: 250px;
  height: 50px;
  text-align: center;
  border: 2px solid transparent;
  background-color: #1ac239;
  color: #ffffff;
  font-size: 20px;
}

.btnorders {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: white;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  z-index: 1001;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.actions button:first-child {
  background-color: #4caf50;
  color: white;
}

.actions button:last-child {
  background-color: #f44336;
  color: white;
}

/* تغطية الخلفية */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}
