* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}
.row {
  border-radius: 30px;
}

.childmenue {
  background-color: #f2f2f2;

  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 50px;
  padding: 15px;
  box-shadow: -2px -2px 5px 2px #a6d3ae;
}
.childmenue h1 {
  font-weight: 800;
  font-size: 25px;
  font-style: italic;
}
.childmenue span {
  font-size: 20px;
  line-height: 5px;
  font-weight: 600;
}
